<array>
	<dict>
		<key>name</key>
		<real>aquarius</real>
		<key>name_ra</key>
		<real>22.87685</real>
		<key>decreasing</key>
		<real>-7.533455</real>
		<key>coordinates</key>
		<real>20</real>
		<key>ra</key>
		<real>22.87685</real>
		<key>dec</key>
		<real>-7.533455</real>
		<key>ra</key>
		<real>23.238704</real>
		<key>dec</key>
		<real>-6.000178</real>
		<key>ra</key>
		<real>23.263942</real>
		<key>dec</key>
		<real>-9.030794</real>
		<key>ra</key>
		<real>23.383032</real>
		<key>dec</key>
		<real>-20.052298</real>
		<key>ra</key>
		<real>23.15725</real>
		<key>dec</key>
		<real>-21.126881</real>
		<key>ra</key>
		<real>22.910734</real>
		<key>dec</key>
		<real>-15.77227</real>
		<key>ra</key>
		<real>22.826497</real>
		<key>dec</key>
		<real>-13.545334</real>
		<key>ra</key>
		<real>22.87685</real>
		<key>dec</key>
		<real>-7.533455</real>
		<key>ra</key>
		<real>22.589159</real>
		<key>dec</key>
		<real>-0.067026</real>
		<key>ra</key>
		<real>22.48025</real>
		<key>dec</key>
		<real>0.026331</real>
		<key>ra</key>
		<real>22.360733</real>
		<key>dec</key>
		<real>-1.338232</real>
		<key>ra</key>
		<real>22.096368</real>
		<key>dec</key>
		<real>-0.272887</real>
		<key>ra</key>
		<real>22.42119</real>
		<key>dec</key>
		<real>1.422043</real>
		<key>ra</key>
		<real>22.48025</real>
		<key>dec</key>
		<real>0.026331</real>
		<key>ra</key>
		<real>22.42119</real>
		<key>dec</key>
		<real>1.422043</real>
		<key>ra</key>
		<real>22.096368</real>
		<key>dec</key>
		<real>-0.272887</real>
		<key>ra</key>
		<real>21.525878</real>
		<key>dec</key>
		<real>-5.523756</real>
		<key>ra</key>
		<real>20.794446</real>
		<key>dec</key>
		<real>-9.447945000000001</real>
		<key>ra</key>
		<real>21.159672</real>
		<key>dec</key>
		<real>-11.3222</real>
		<key>ra</key>
		<real>21.525878</real>
		<key>dec</key>
		<real>-5.523756</real>
	</dict>
	<dict>
		<key>name</key>
		<real>aries</real>
		<key>name_ra</key>
		<real>3.193743</real>
		<key>decreasing</key>
		<real>19.770281</real>
		<key>coordinates</key>
		<real>5</real>
		<key>ra</key>
		<real>3.193743</real>
		<key>dec</key>
		<real>19.770281</real>
		<key>ra</key>
		<real>2.832949</real>
		<key>dec</key>
		<real>27.305679</real>
			
			
		<key>ra</key>
		<real>2.119377</real>
		<key>dec</key>
		<real>23.509649</real>
		<key>ra</key>
		<real>1.910567</real>
		<key>dec</key>
		<real>20.854896</real>
		<key>ra</key>
		<real>1.892044</real>
		<key>dec</key>
		<real>19.340757</real>	
	</dict>
	<dict>
		<key>name</key>
		<real> cancer</real>
		<key>name_ra</key>
		<real>8.778245</real>
		<key>decreasing</key>
		<real>28.803641</real>
		<key>coordinates</key>
		<real>4</real>
		<key>ra</key>
		<real>8.778245999999999</real>
		<key>dec</key>
		<real>28.803641</real>
		<key>ra</key>
		<real>8.744654000000001</real>
		<key>dec</key>
		<real>18.200585</real>
		<key>ra</key>
		<real>8.974743999999999</real>
		<key>dec</key>
		<real>11.901186</real>
		<key>ra</key>
		<real>8.275195999999999</real>
		<key>dec</key>
		<real>9.22949</real>
	</dict>
	<dict>
		<key>name</key>
		<real> canis major</real>
		<key>name_ra</key>
		<real>6.903263</real>
		<key>decreasing</key>
		<real>150.991816</real>
		<key>coordinates</key>
		<real>12</real>
		<key>ra</key>
		<real>6.903263</real>
		<key>dec</key>
		<real>-11.991816</real>
		<key>ra</key>
		<real>7.062548</real>
		<key>dec</key>
		<real>-15.585818</real>
		<key>ra</key>
		<real>6.935547</real>
		<key>dec</key>
		<real>-17.007805</real>
		<key>ra</key>
		<real>6.75295</real>
		<key>dec</key>
		<real>-16.65494</real>
		<key>ra</key>
		<real>6.378303</real>
		<key>dec</key>
		<real>-17.910657</real>
		<key>ra</key>
		<real>6.75295</real>
		<key>dec</key>
		<real>-16.65494</real>
		<key>ra</key>
		<real>7.050354</real>
		<key>dec</key>
		<real>-23.78715</real>
		<key>ra</key>
		<real>7.139671</real>
		<key>dec</key>
		<real>-26.348121</real>
		<key>ra</key>
		<real>7.40149</real>
		<key>dec</key>
		<real>-29.257482</real>
		<key>ra</key>
		<real>7.139671</real>
		<key>dec</key>
		<real>-26.348121</real>
		<key>ra</key>
		<real>6.976965</real>
		<key>dec</key>
		<real>-28.925674</real>
		<key>ra</key>
		<real>6.338469</real>
		<key>dec</key>
		<real>-30.020346</real>
	</dict>
	<dict>
		<key>name</key>
		<real> capricorn</real>
		<key>name_ra</key>
		<real>21.783614</real>
		<key>decreasing</key>
		<real>-16.073703</real>
		<key>coordinates</key>
		<real>9</real>
		<key>ra</key>
		<real>21.783614</real>
		<key>dec</key>
		<real>-16.073703</real>
		<key>ra</key>
		<real>21.668032</real>
		<key>dec</key>
		<real>-16.612381</real>
		<key>ra</key>
		<real>21.370562</real>
		<key>dec</key>
		<real>-16.787188</real>
		<key>ra</key>
		<real>21.098877</real>
		<key>dec</key>
		<real>-17.185587</real>
		<key>ra</key>
		<real>20.349997</real>
		<key>dec</key>
		<real>-14.732688</real>
		<key>ra</key>
		<real>20.768099</real>
		<key>dec</key>
		<real>-25.221056</real>
		<key>ra</key>
		<real>20.863604</real>
		<key>dec</key>
		<real>-26.869868</real>
		<key>ra</key>
		<real>21.444429</real>
		<key>dec</key>
		<real>-22.363709</real>
		<key>ra</key>
		<real>21.783614</real>
		<key>dec</key>
		<real>-16.073703</real>	
	</dict>
	<dict>
		<key>name</key>
		<real> cassiopea</real>
		<key>name_ra</key>
		<real>1.906731</real>
		<key>decreasing</key>
		<real>63.714594</real>
		<key>coordinates</key>
		<real>5</real>
		<key>ra</key>
		<real>1.906731</real>
		<key>dec</key>
		<real>63.714594</real>
		<key>ra</key>
		<real>1.429935</real>
		<key>dec</key>
		<real>60.2811</real>
		<key>ra</key>
		<real>0.945338</real>
		<key>dec</key>
		<real>60.761483</real>
		<key>ra</key>
		<real>0.675172</real>
		<key>dec</key>
		<real>56.581344</real>
		<key>ra</key>
		<real>0.152122</real>
		<key>dec</key>
		<real>59.197749</real>
	</dict>
	<dict>
		<key>name</key>
		<real> crux</real>
		<key>name_ra</key>
		<real>12.52054</real>
		<key>decreasing</key>
		<real>-57.12238</real>
		<key>coordinates</key>
		<real>2</real>
		<key>ra</key>
		<real>12.52054</real>
		<key>dec</key>
		<real>-57.12238</real>
		<key>ra</key>
		<real>12.441908</real>
		<key>dec</key>
		<real>-63.077503</real>
	</dict>
	<dict>
		<key>name</key>
		<real> gemini</real>
		<key>name_ra</key>
		<real>6.628469</real>
		<key>decreasing</key>
		<real>16.442887</real>
		<key>coordinates</key>
		<real>12</real>
		<key>ra</key>
		<real>6.628469</real>
		<key>dec</key>
		<real>16.442887</real>
		<key>ra</key>
		<real>7.335222</real>
		<key>dec</key>
		<real>22.025587</real>
		<key>ra</key>
		<real>7.301507</real>
		<key>dec</key>
		<real>16.582436</real>
		<key>ra</key>
		<real>7.335222</real>
		<key>dec</key>
		<real>22.025587</real>
		<key>ra</key>
		<real>7.740665</real>
		<key>dec</key>
		<real>24.439871</real>
		<key>ra</key>
		<real>7.755798</real>
		<key>dec</key>
		<real>28.067951</real>
		<key>ra</key>
		<real>7.576745</real>
		<key>dec</key>
		<real>31.932796</real>
		<key>ra</key>
		<real>7.185125</real>
		<key>dec</key>
		<real>30.277626</real>
		<key>ra</key>
		<real>6.879626</real>
		<key>dec</key>
		<real>34.005037</real>
		<key>ra</key>
		<real>7.185125</real>
		<key>dec</key>
		<real>30.277626</real>
		<key>ra</key>
		<real>6.382546</real>
		<key>dec</key>
		<real>22.558216</real>
		<key>ra</key>
		<real>6.247961</real>
		<key>dec</key>
		<real>22.549929</real>	
	</dict>
	<dict>
		<key>name</key>
		<real> leo</real>
		<key>name_ra</key>
		<real>11.237366</real>
		<key>decreasing</key>
		<real>15.474369</real>
		<key>coordinates</key>
		<real>13</real>
		
			
				<key>ra</key>
				<real>11.237366</real>
				<key>dec</key>
				<real>15.474369</real>
			
			
				<key>ra</key>
				<real>11.818018</real>
				<key>dec</key>
				<real>14.618993</real>
			
			
				<key>ra</key>
				<real>11.235006</real>
				<key>dec</key>
				<real>20.568728</real>
			
			
				<key>ra</key>
				<real>11.237366</real>
				<key>dec</key>
				<real>15.474369</real>
			
			
				<key>ra</key>
				<real>11.398483</real>
				<key>dec</key>
				<real>10.573271</real>
			
			
				<key>ra</key>
				<real>10.546813</real>
				<key>dec</key>
				<real>9.350693</real>
			
			
				<key>ra</key>
				<real>10.139749</real>
				<key>dec</key>
				<real>12.009054</real>
			
			
				<key>ra</key>
				<real>10.122146</real>
				<key>dec</key>
				<real>16.805248</real>
			
			
				<key>ra</key>
				<real>10.332607</real>
				<key>dec</key>
				<real>19.887314</real>
			
			
				<key>ra</key>
				<real>10.27809</real>
				<key>dec</key>
				<real>23.460651</real>
			
			
				<key>ra</key>
				<real>9.87945</real>
				<key>dec</key>
				<real>26.051773</real>
			
			
				<key>ra</key>
				<real>9.764059</real>
				<key>dec</key>
				<real>23.818515</real>
			
			
				<key>ra</key>
				<real>9.528622</real>
				<key>dec</key>
				<real>23.012323</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real> libra</real>
		<key>name_ra</key>
		<real>14.844807</real>
		<key>decreasing</key>
		<real>-15.946642</real>
		<key>coordinates</key>
		<real>8</real>
		
			
				<key>ra</key>
				<real>14.844807</real>
				<key>dec</key>
				<real>-15.946642</real>
			
			
				<key>ra</key>
				<real>15.897036</real>
				<key>dec</key>
				<real>-16.682301</real>
			
			
				<key>ra</key>
				<real>16.072828</real>
				<key>dec</key>
				<real>-11.324365</real>
			
			
				<key>ra</key>
				<real>15.283529</real>
				<key>dec</key>
				<real>-9.334007</real>
			
			
				<key>ra</key>
				<real>14.844807</real>
				<key>dec</key>
				<real>-15.946642</real>
			
			
				<key>ra</key>
				<real>15.067869</real>
				<key>dec</key>
				<real>-25.23447</real>
			
			
				<key>ra</key>
				<real>15.617154</real>
				<key>dec</key>
				<real>-28.087231</real>
			
			
				<key>ra</key>
				<real>15.644345</real>
				<key>dec</key>
				<real>-29.728124</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real>orion</real>
		<key>name_ra</key>
		<real>5.67948</real>
		<key>decreasing</key>
		<real>1.89622</real>
		<key>coordinates</key>
		<real>10</real>
		
			
				<key>ra</key>
				<real>5.67948</real>
				<key>dec</key>
				<real>-1.89622</real>
			
			
				<key>ra</key>
				<real>5.919522</real>
				<key>dec</key>
				<real>7.44887</real>
			
			
				<key>ra</key>
				<real>5.585677</real>
				<key>dec</key>
				<real>9.977247</real>
			
			
				<key>ra</key>
				<real>5.418864</real>
				<key>dec</key>
				<real>6.392594</real>
			
			
				<key>ra</key>
				<real>5.533491</real>
				<key>dec</key>
				<real>-0.253739</real>
			
			
				<key>ra</key>
				<real>5.242337</real>
				<key>dec</key>
				<real>-8.156648000000001</real>
			
			
				<key>ra</key>
				<real>5.795957</real>
				<key>dec</key>
				<real>-9.622623000000001</real>
			
			
				<key>ra</key>
				<real>5.67948</real>
				<key>dec</key>
				<real>-1.89622</real>
			
			
				<key>ra</key>
				<real>5.603602</real>
				<key>dec</key>
				<real>-1.156257</real>
			
			
				<key>ra</key>
				<real>5.533491</real>
				<key>dec</key>
				<real>-0.253739</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real> pisces</real>
		<key>name_ra</key>
		<real>1.194219</real>
		<key>decreasing</key>
		<real>30.135916</real>
		<key>coordinates</key>
		<real>14</real>
		
			
				<key>ra</key>
				<real>1.194219</real>
				<key>dec</key>
				<real>30.135916</real>
			
			
				<key>ra</key>
				<real>1.324366</real>
				<key>dec</key>
				<real>27.308484</real>
			
			
				<key>ra</key>
				<real>1.229108</real>
				<key>dec</key>
				<real>24.627274</real>
			
			
				<key>ra</key>
				<real>1.524708</real>
				<key>dec</key>
				<real>15.389556</real>
			
			
				<key>ra</key>
				<real>1.756471</real>
				<key>dec</key>
				<real>9.200479</real>
			
			
				<key>ra</key>
				<real>2.033945</real>
				<key>dec</key>
				<real>2.806585</real>
			
			
				<key>ra</key>
				<real>0.81131</real>
				<key>dec</key>
				<real>7.630041</real>
			
			
				<key>ra</key>
				<real>23.988427</real>
				<key>dec</key>
				<real>6.908243</real>
			
			
				<key>ra</key>
				<real>23.665524</real>
				<key>dec</key>
				<real>5.67528</real>
			
			
				<key>ra</key>
				<real>23.700961</real>
				<key>dec</key>
				<real>1.824358</real>
			
			
				<key>ra</key>
				<real>23.448648</real>
				<key>dec</key>
				<real>1.299948</real>
			
			
				<key>ra</key>
				<real>23.285287</real>
				<key>dec</key>
				<real>3.326811</real>
			
			
				<key>ra</key>
				<real>23.466215</real>
				<key>dec</key>
				<real>6.424027</real>
			
			
				<key>ra</key>
				<real>23.665524</real>
				<key>dec</key>
				<real>5.67528</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real> sagittarius</real>
		<key>name_ra</key>
		<real>18.402725</real>
		<key>decreasing</key>
		<real>-34.334409</real>
		<key>coordinates</key>
		<real>15</real>
		
			
				<key>ra</key>
				<real>18.402725</real>
				<key>dec</key>
				<real>-34.334409</real>
			
			
				<key>ra</key>
				<real>18.096569</real>
				<key>dec</key>
				<real>-30.375125</real>
			
			
				<key>ra</key>
				<real>18.349659</real>
				<key>dec</key>
				<real>-29.780537</real>
			
			
				<key>ra</key>
				<real>18.466195</real>
				<key>dec</key>
				<real>-25.369301</real>
			
			
				<key>ra</key>
				<real>18.760631</real>
				<key>dec</key>
				<real>-26.942237</real>
			
			
				<key>ra</key>
				<real>18.920991</real>
				<key>dec</key>
				<real>-26.249255</real>
			
			
				<key>ra</key>
				<real>19.115526</real>
				<key>dec</key>
				<real>-27.618508</real>
			
			
				<key>ra</key>
				<real>19.043469</real>
				<key>dec</key>
				<real>-29.831911</real>
			
			
				<key>ra</key>
				<real>19.115526</real>
				<key>dec</key>
				<real>-27.618508</real>
			
			
				<key>ra</key>
				<real>18.920991</real>
				<key>dec</key>
				<real>-26.249255</real>
			
			
				<key>ra</key>
				<real>19.077701</real>
				<key>dec</key>
				<real>-21.692193</real>
			
			
				<key>ra</key>
				<real>18.961963</real>
				<key>dec</key>
				<real>-21.057618</real>
			
			
				<key>ra</key>
				<real>19.077701</real>
				<key>dec</key>
				<real>-21.692193</real>
			
			
				<key>ra</key>
				<real>19.162625</real>
				<key>dec</key>
				<real>-20.972982</real>
			
			
				<key>ra</key>
				<real>19.360948</real>
				<key>dec</key>
				<real>-17.800379</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real> scorpius</real>
		<key>name_ra</key>
		<real>17.512741</real>
		<key>decreasing</key>
		<real>-37.246456</real>
		<key>coordinates</key>
		<real>14</real>
		
			
				<key>ra</key>
				<real>17.512741</real>
				<key>dec</key>
				<real>-37.246456</real>
			
			
				<key>ra</key>
				<real>17.560295</real>
				<key>dec</key>
				<real>-37.055532</real>
			
			
				<key>ra</key>
				<real>17.792998</real>
				<key>dec</key>
				<real>-40.080363</real>
			
			
				<key>ra</key>
				<real>17.62589</real>
				<key>dec</key>
				<real>-42.951403</real>
			
			
				<key>ra</key>
				<real>17.202565</real>
				<key>dec</key>
				<real>-43.186987</real>
			
			
				<key>ra</key>
				<real>16.864643</real>
				<key>dec</key>
				<real>-37.998343</real>
			
			
				<key>ra</key>
				<real>16.836755</real>
				<key>dec</key>
				<real>-34.24185</real>
			
			
				<key>ra</key>
				<real>16.598007</real>
				<key>dec</key>
				<real>-28.168456</real>
			
			
				<key>ra</key>
				<real>16.490269</real>
				<key>dec</key>
				<real>-26.382892</real>
			
			
				<key>ra</key>
				<real>16.353204</real>
				<key>dec</key>
				<real>-25.543535</real>
			
			
				<key>ra</key>
				<real>16.005497</real>
				<key>dec</key>
				<real>-22.573917</real>
			
			
				<key>ra</key>
				<real>15.980935</real>
				<key>dec</key>
				<real>-26.065744</real>
			
			
				<key>ra</key>
				<real>16.005497</real>
				<key>dec</key>
				<real>-22.573917</real>
			
			
				<key>ra</key>
				<real>16.090647</real>
				<key>dec</key>
				<real>-19.755138</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real> taurus</real>
		<key>name_ra</key>
		<real>3.413669</real>
		<key>decreasing</key>
		<real>9.074170000000001</real>
		<key>coordinates</key>
		<real>6</real>
		
			
				<key>ra</key>
				<real>3.413669</real>
				<key>dec</key>
				<real>9.074170000000001</real>
			
			
				<key>ra</key>
				<real>3.452674</real>
				<key>dec</key>
				<real>9.775715999999999</real>
			
			
				<key>ra</key>
				<real>3.514559</real>
				<key>dec</key>
				<real>12.979652</real>
			
			
				<key>ra</key>
				<real>4.011371</real>
				<key>dec</key>
				<real>12.533184</real>
			
			
				<key>ra</key>
				<real>4.258979</real>
				<key>dec</key>
				<real>8.933832000000001</real>
			
			
				<key>ra</key>
				<real>4.052677</real>
				<key>dec</key>
				<real>6.031482</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real> ursa major</real>
		<key>name_ra</key>
		<real>13.792481</real>
		<key>decreasing</key>
		<real>49.359103</real>
		<key>coordinates</key>
		<real>16</real>
		
			
				<key>ra</key>
				<real>13.792481</real>
				<key>dec</key>
				<real>49.359103</real>
			
			
				<key>ra</key>
				<real>13.398389</real>
				<key>dec</key>
				<real>54.971848</real>
			
			
				<key>ra</key>
				<real>12.89996</real>
				<key>dec</key>
				<real>56.004394</real>
			
			
				<key>ra</key>
				<real>12.256538</real>
				<key>dec</key>
				<real>57.079441</real>
			
			
				<key>ra</key>
				<real>11.062039</real>
				<key>dec</key>
				<real>61.796108</real>
			
			
				<key>ra</key>
				<real>8.504393</real>
				<key>dec</key>
				<real>60.764327</real>
			
			
				<key>ra</key>
				<real>11.062039</real>
				<key>dec</key>
				<real>61.796108</real>
			
			
				<key>ra</key>
				<real>11.030374</real>
				<key>dec</key>
				<real>56.426435</real>
			
			
				<key>ra</key>
				<real>8.98733</real>
				<key>dec</key>
				<real>48.088088</real>
			
			
				<key>ra</key>
				<real>11.030374</real>
				<key>dec</key>
				<real>56.426435</real>
			
			
				<key>ra</key>
				<real>11.896913</real>
				<key>dec</key>
				<real>53.740715</real>
			
			
				<key>ra</key>
				<real>12.256538</real>
				<key>dec</key>
				<real>57.079441</real>
			
			
				<key>ra</key>
				<real>11.896913</real>
				<key>dec</key>
				<real>53.740715</real>
			
			
				<key>ra</key>
				<real>11.767642</real>
				<key>dec</key>
				<real>47.82325</real>
			
			
				<key>ra</key>
				<real>11.160982</real>
				<key>dec</key>
				<real>44.544883</real>
			
			
				<key>ra</key>
				<real>10.284977</real>
				<key>dec</key>
				<real>42.959673</real>
			
		
	</dict>
	<dict>
		<key>name</key>
		<real> virgo</real>
		<key>name_ra</key>
		<real>12.086882</real>
		<key>decreasing</key>
		<real>8.77633</real>
		<key>coordinates</key>
		<real>10</real>
		
			
				<key>ra</key>
				<real>12.086882</real>
				<key>dec</key>
				<real>8.77633</real>
			
			
				<key>ra</key>
				<real>11.764353</real>
				<key>dec</key>
				<real>6.575661</real>
			
			
				<key>ra</key>
				<real>11.844287</real>
				<key>dec</key>
				<real>1.81235</real>
			
			
				<key>ra</key>
				<real>12.331731</real>
				<key>dec</key>
				<real>-0.619993</real>
			
			
				<key>ra</key>
				<real>12.694886</real>
				<key>dec</key>
				<real>-1.402909</real>
			
			
				<key>ra</key>
				<real>13.165773</real>
				<key>dec</key>
				<real>-5.490258</real>
			
			
				<key>ra</key>
				<real>13.419724</real>
				<key>dec</key>
				<real>-11.111948</real>
			
			
				<key>ra</key>
				<real>14.214882</real>
				<key>dec</key>
				<real>-10.227644</real>
			
			
				<key>ra</key>
				<real>14.266787</real>
				<key>dec</key>
				<real>-5.947255</real>
			
			
				<key>ra</key>
				<real>14.717641</real>
				<key>dec</key>
				<real>-5.605549</real>
			
		
	</dict>
</array>
 
